* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: auto;
}

.content {
    display: none;
    margin: 0 30px;
}

#all:checked ~ .block.content{
    display: block;
}

#html:checked ~ .block .content-1 {
    display: flex;
}

#css:checked ~ .block .content-2 {
    display: flex;
}

#js:checked ~ .block .content-3 {
    display: flex;
}

.block {
    display: flex;
}

.content-img {
    width: 150px;
    height: 150px;
}

.radio {
    opacity: 0;

}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons label{
    margin: 0 10px;
}